/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/


body {
  padding: 30px;
  background-color: #910000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-title {
  color: #D8BD00;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  font-size: 4rem
}

@media screen and (min-width: 925px) {
  .pslo-courses-container {
    display: flex;
    flex-direction: row;
    max-width: 53em;
  }
}

h2 {
  font-family: 'Orbitron', sans-serif;
  color: #D8BD00;
}

.faculty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  border-radius: 25px;
  padding: 20px;
  border: 5px solid;
  margin: 10px;
  max-width: 48em;
}

#courses {
  background-color: #35373A;
  font-family: 'Play', sans-serif;
  color: #ffffff;
}

#pslo {
  background-color: #35373A;
  font-family: 'Play', sans-serif;
  color: #ffffff;
}

#faculty {
  background-color: #35373A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #ffffff;
  font-family: 'Play', sans-serif;
}

#faculty>ul>li {
  display: inline-block;
  padding: 30px;
}

.name {
  font-family: 'VT323', sans-serif;
  font-size: 200%;
}

img.pic {
  border: 4px solid #000000;
}

#style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#style li {
  float: left;
}

#style li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 130%;
  border-radius: 15px;
}

#style li a:hover {
  background-color: #D8BD00;
}

#style {
  position: fixed;
  font-family: 'VT323', sans-serif;
  color: #D8BD00;
  right: 0;
  bottom: 0;
  background-color: #910000;
  height: 55px;
  padding-top: 5px;
  border-radius: 15px;
}

h6 {
  font-family: 'Orbitron', sans-serif;
  color: #D8BD00;
  font-size: 150%;
  margin: 0;
}

#validation p a {
  color:#D8BD00;
  text-decoration: none;
}

#validation li a {
  font-family: 'Orbitron', sans-serif;
  color:#D8BD00;
  text-decoration: none;
}

.card {
  background-color: #35373A;
  border-radius: 25px;
  padding: 20px;
  border: 5px solid;
  margin: 10px;
  max-width: 48em;
  color: #ffffff;
  font-family: 'Play', sans-serif;
}

